# Dictionaries

In [ ]:
[]list/array
{}dictrinary`
()touple

In [11]:
a=[23,56,78,34,56]
for i in a:
 print(i)

23
56
78
34
56

In [13]:
a=['23e','dc','gtre']
for i in a:
 print(i)

23e
dc
gtre

In [15]:
a[2]

'gtre'

In [19]:
d={'tom':123,'jerry':234,'cude':678}
d['tom']# using keys accsessing values

123

In [29]:
for i in d:
 print(i,d[i])

tom 123
jerry 234
cude 678

In [32]:
## in dictrinaries order doesn';t matter
d['sam']=456
d

{'tom': 123, 'jerry': 234, 'cude': 678, 'sam': 456}

In [34]:
del d['tom']
d

{'jerry': 234, 'cude': 678, 'sam': 456}

In [38]:
for i in d:
    print(i,d[i])##key and tar value

jerry 234
cude 678
sam 456

In [44]:
# empty dictionaries
d.clear()
d

{}

***touple is a list of valuyes grouped together***

In [47]:
#like representating a point in a 2D plane
point=(5,8)## defining tuple
point[1]

8

In [49]:
point[4]

IndexError: tuple index out of range

***in list all values have same/homogenous meaning***

****in tuple all values have different/heterogenous meaning****

In [57]:
address=('2no.shugondha','chattogram',4000)

In [63]:
address[1]

'chattogram'

In [66]:
'''We have following information on countries and their population (population is in crores),

Country	Population
China	143
India	136
USA	32
Pakistan	21
Using above create a dictionary of countries and its population
Write a program that asks user for three type of inputs,
print: if user enter print then it should print all countries with their population in this format,
china==>143
india==>136
usa==>32
pakistan==>21
add: if user input add then it should further ask for a country name to add. 
     If country already exist in our dataset then it should print that it exist and do nothing. 
     If it doesn't then it asks for population and add that new country/population in our dictionary and print it
remove: when user inputs remove it should ask for a country to remove. 
        If country exist in our dictionary then remove it and print new dictionary using format shown above in (a). 
        Else print that country doesn't exist!
query: on this again ask user for which country he or she wants to query. 
       When user inputs that country it will print population of that country.
'''

"We have following information on countries and their population (population is in crores),\n\nCountry\tPopulation\nChina\t143\nIndia\t136\nUSA\t32\nPakistan\t21\nUsing above create a dictionary of countries and its population\nWrite a program that asks user for three type of inputs,\nprint: if user enter print then it should print all countries with their population in this format,\nchina==>143\nindia==>136\nusa==>32\npakistan==>21\nadd: if user input add then it should further ask for a country name to add. If country already exist in our dataset then it should print that it exist and do nothing. If it doesn't then it asks for population and add that new country/population in our dictionary and print it\nremove: when user inputs remove it should ask for a country to remove. If country exist in our dictionary then remove it and print new dictionary using format shown above in (a). Else print that country doesn't exist!\nquery: on this again ask user for which country he or she wants to query. When user inputs that country it will print population of that country.\n"

In [64]:
con={'China':143,'India':136,'USA':32,'Pakistan':21}
print("Enter print/add/remove/query")
ans=input()
    
if ans=="print":
        for i in con:
          print(f"{i}==>{con[i]}")

elif ans=='add':
        print('add country name:')
        adc=input()
        for i in con:
          if adc==i:
             print('it exist')
             break

            
          else:
            print('add population:')
            adp=input()
            con[adc]=adp
            break
elif ans=='remove':   
        print('add country to remove:')
        rc=input()
        for i in con:
          if i==rc:
             del con['rc']
             print(f"{i}==>{con[i]}")
             break

          else:
             print("it  doesn't exist")

elif ans=='query':
         print('which country')
         qc=input()
    
         print('population is:',con[qc])
###eibabhe hbe nh................need to use function

Enter print/add/remove/query

 remove

add country to remove:

 India

it  doesn't exist

KeyError: 'rc'

In [75]:



def add():
    country=input("Enter country name to add:")
    country=country.lower()
    if country in population:
        print("Country already exist in our dataset. Terminating")
        return
    p=input(f"Enter population for {country}")
    p=float(p)
    population[country]=p # Adds new key value pair to dictionary
    print_all()
            
def print_all():
    for i in population:
          print(f"{i}==>{population[i]}")

def remove():
     print('add country to remove:')
     rc=input()
     rc=rc.lower()
     if rc in population:
             del population[rc]
             print_all()
             return
     print("it  doesn't exist")

def query():
    print('which country')
    qc=input()
    qc=qc.lower()
    if qc in population:
      print('population is:',population[qc])
      return
    print("it  doesn't exist")

population={'china':143,'india':136,'usa':32,'pakistan':21}
op=input("Enter operation (add, remove, query or print):")
if op.lower() == 'add':
        add()
elif op.lower() == 'remove':
        remove()
elif op.lower() == 'query':
        query()
elif op.lower() == 'print':
        print_all()

Enter operation (add, remove, query or print): query

which country

 india

population is: 136

In [77]:
population = {
    'china': 143,
    'india': 136,
    'usa': 32,
    'pakistan': 21
}

def add():
    country=input("Enter country name to add:")
    country=country.lower()
    if country in population:
        print("Country already exist in our dataset. Terminating")
        return
    p=input(f"Enter population for {country}")
    p=float(p)
    population[country]=p # Adds new key value pair to dictionary
    print_all()

def remove():
    country = input("Enter country name to remove:")
    country = country.lower()
    if country not in population:
        print("Country doesn't exist in our dataset. Terminating")
        return
    del population[country]
    print_all()

def query():
    country = input("Enter country name to query:")
    country = country.lower()
    if country not in population:
        print("Country doesn't exist in our dataset. Terminating")
        return
    print(f"Population of {country} is: {population[country]} crore")

def print_all():
    for country, p in population.items():
        print(f"{country}==>{p}")

def main():
    op=input("Enter operation (add, remove, query or print):")
    if op.lower() == 'add':
        add()
    elif op.lower() == 'remove':
        remove()
    elif op.lower() == 'query':
        query()
    elif op.lower() == 'print':
        print_all()

if __name__ == '__main__':
    main()

Enter operation (add, remove, query or print): add
Enter country name to add: sdwd
Enter population for sdwd 344

china==>143
india==>136
usa==>32
pakistan==>21
sdwd==>344.0

In [ ]:
'''
You are given following list of stocks and their prices in last 3 days,

Stock	Prices
info	[600,630,620]
ril	[1430,1490,1567]
mtl	[234,180,160]
Write a program that asks user for operation. Value of operations could be,
print: When user enters print it should print following,
info ==> [600, 630, 620] ==> avg:  616.67
ril ==> [1430, 1490, 1567] ==> avg:  1495.67
mtl ==> [234, 180, 160] ==> avg:  191.33
add: When user enters 'add', it asks for stock ticker and price. 
     If stock already exist in your list (like info, ril etc) then it will append the price to the list. 
    Otherwise it will create new entry in your dictionary. 
    For example entering 'tata' and 560 will add tata ==> [560] to the dictionary of stocks.

In [151]:
import statistics
stock={'info':[600,630,620],'ril':[1430,1490,1567],'mtl':[234,180,1567]}
stock['ril']
def main():
    op=input("Enter operation (add, remove, query or print):")
    if op.lower() == 'print':
       print_all()
    elif op.lower() == 'add':
        add()



def print_all():
    for i in stock:
         avg = statistics.mean(stock[i])
         print(f'{i}==>{stock[i]}==>avg: ',round(avg,2))


def add():
    ast=input('enter name of the stock:')
    ast=ast.lower()
    p = input("Enter price of this stock:")
    p=float(p)
    if ast in stock:
       
        stock[ast].append(p)
    

    else:
        stock[ast]=[p]
    print_all()    


if __name__ == '__main__':###shb smy last eee
    main()

Enter operation (add, remove, query or print): add
enter name of the stock: wdsc
Enter price of this stock: 234

info==>[600, 630, 620]==>avg:  616.67
ril==>[1430, 1490, 1567]==>avg:  1495.67
mtl==>[234, 180, 1567]==>avg:  660.33
wdsc==>[234.0]==>avg:  234.0

In [33]:
stock={'info':[600,630,620],'ril':[1430,1490,1567],'mtl':[234,180,1567]}
stock['ril']

[1430, 1490, 1567]

In [8]:
import math
math.sqrt(25)

5.0

In [10]:
pow(2,5)

32

In [12]:
dir(math)

['__doc__',
 '__loader__',
 '__name__',
 '__package__',
 '__spec__',
 'acos',
 'acosh',
 'asin',
 'asinh',
 'atan',
 'atan2',
 'atanh',
 'cbrt',
 'ceil',
 'comb',
 'copysign',
 'cos',
 'cosh',
 'degrees',
 'dist',
 'e',
 'erf',
 'erfc',
 'exp',
 'exp2',
 'expm1',
 'fabs',
 'factorial',
 'floor',
 'fmod',
 'frexp',
 'fsum',
 'gamma',
 'gcd',
 'hypot',
 'inf',
 'isclose',
 'isfinite',
 'isinf',
 'isnan',
 'isqrt',
 'lcm',
 'ldexp',
 'lgamma',
 'log',
 'log10',
 'log1p',
 'log2',
 'modf',
 'nan',
 'nextafter',
 'perm',
 'pi',
 'pow',
 'prod',
 'radians',
 'remainder',
 'sin',
 'sinh',
 'sqrt',
 'tan',
 'tanh',
 'tau',
 'trunc',
 'ulp']

In [14]:
math.log2(8)

3.0

In [18]:
math.floor(2.3)

2

In [40]:
import calendar
cal=calendar.month(2024,8)##yrs,month
print(cal)

    August 2024
Mo Tu We Th Fr Sa Su
          1  2  3  4
 5  6  7  8  9 10 11
12 13 14 15 16 17 18
19 20 21 22 23 24 25
26 27 28 29 30 31

SyntaxError: invalid syntax (3096293278.py, line 1)

In [44]:
if __name__=="__main__":#entry point
    ##__name__==hold the name of the file it is to be executed

SyntaxError: incomplete input (3084168096.py, line 2)

In [153]:
'''
Write circle_calc() function that takes radius of a circle as an input from user and then it calculates 
and returns area, circumference and diameter. 
You should get these values in your main program by calling circle_calc function and then print them
'''

'\nWrite circle_calc() function that takes radius of a circle as an input from user and then it calculates \nand returns area, circumference and diameter. \nYou should get these values in your main program by calling circle_calc function and then print them\n'

In [185]:
def main():
 radius=int(input('Enter'))
 hola=circle_calc(radius)
 print(hola)
def circle_calc(r):
    pi=3.1416
    area=pi*r*r
    cir=2*pi*r
    di=2*r
    return area,cir, di
    
    
if __name__ == '__main__':###shb smy last eee
    main()

Enter 23

(1661.9063999999998, 144.5136, 46)

In [187]:
import math

def circle_calc(radius):
    area=math.pi*(radius**2)
    circumference=2*math.pi*radius
    diameter=2*radius
    return area, circumference,diameter

if __name__=="__main__":
    r=input("Enter a radius:")
    r=float(r)
    area, c, d = circle_calc(r)
    print(f"area {area}, circumference {c}, diameter {d}")

Enter a radius: 23

area 1661.9025137490005, circumference 144.51326206513048, diameter 46.0

# Working With JSON

In [ ]:
***create address book and write some record in it***
***Read this record book***

In [50]:
##In these dictionaris we will add record
book={}
book['tom']={
    'name':'tom',
    'address':'shugondha',
    'phone':1876220119
}
book['lathan']={
    'name':'lathan',
    'address':'victoria',
    'phone':+88017373
}
import json
s=json.dumps(book)
print(s)

{"tom": {"name": "tom", "address": "shugondha", "phone": 1876220119}, "lathan": {"name": "lathan", "address": "victoria", "phone": 88017373}}

In [60]:
book={}
book['tom']={
    'name':'tom',
    'address':'shugondha',
    'phone':1876220119
}
book['lathan']={
    'name':'lathan',
    'address':'victoria',
    'phone':+88017373
}
import json
s=json.dumps(book)## 's' is a string now
with open("C:\Users\ASUS\ML practice","w") as f:## "w" as writing
    f.write(s)

SyntaxError: (unicode error) 'unicodeescape' codec can't decode bytes in position 2-3: truncated \UXXXXXXXX escape (3080531879.py, line 14)

In [64]:
import json
book=json.loads(s)##now it is a dictionary
book

{'tom': {'name': 'tom', 'address': 'shugondha', 'phone': 1876220119},
 'lathan': {'name': 'lathan', 'address': 'victoria', 'phone': 88017373}}

In [66]:
book['tom']

{'name': 'tom', 'address': 'shugondha', 'phone': 1876220119}

In [68]:
book['lathan'] ['address']

'victoria'

In [70]:
for i in book:
 print(i)

tom
lathan

In [72]:
for i in book:
 print(i,book[i])

tom {'name': 'tom', 'address': 'shugondha', 'phone': 1876220119}
lathan {'name': 'lathan', 'address': 'victoria', 'phone': 88017373}