In [26]:
rent=1200
gas=234
car=456
print(rent)

1200

In [28]:
total=rent+car+gas
hola="hello"
print("expenses",total,hola)

expenses 1890 hello

In [2]:
11%2#remainder

1

In [13]:
2**5#power

32

In [4]:
mph=65
dis=435
time=dis/mph
round(time,3)#decimal point

6.692

In [6]:
# 4. Print binary representation of number 17

In [14]:
num=17
print('Binary of number 17 is:',format(num,'b'))

Binary of number 17 is: 10001

***string is stored as an array***

In [31]:
text="ice cream"
text

'ice cream'

In [35]:
text[0]

'i'

In [39]:
text[0]="g"# string cannot be changed partially

TypeError: 'str' object does not support item assignment

In [43]:
text[1:5]# start to agher range

'ce c'

In [45]:
text[:2]

'ic'

In [57]:
#multiple line
address=''' shugondha
muradpur
chattogram'''
address

' shugondha\nmuradpur\nchattogram'

In [59]:
print(address)

 shugondha
muradpur
chattogram

In [61]:
s1='hello'
s2='world'
s1+' '+s2

'hello world'

In [63]:
## integer + string in same sentence
s='total number of shop:'
num=25
s+num

TypeError: can only concatenate str (not "int") to str

In [65]:
str(num)

'25'

In [67]:
s+str(num)

'total number of shop:25'

In [69]:
street = "13 patli gali"
city = "New Delhi"
country = "India"
address = street + '\n' + city + '\n' + country
print("Address using + operator:",address)

Address using + operator: 13 patli gali
New Delhi
India

In [71]:
s='Earth revolves around the sun'
print(s[6:14])
print(s[-3:])

revolves
sun

In [75]:
# Now Print "I eat x veggies and y fruits daily" where x and y presents vegetables and fruits that you eat everyday.
# Use python f string for this.
num_fruits=10
num_veggies=5
print("I eat {num_veggies} veggies and {num_fruits} daily")

I eat {num_veggies} veggies and {num_fruits} daily

In [79]:
## have to use f
print(f"I eat {num_veggies} veggies and {num_fruits} daily")

I eat 5 veggies and 10 daily

In [81]:
# 4. I have a string variable called s='maine 200 banana khaye'. This of course is a
# wrong statement, the correct statement is 'maine 10 samosa khaye'.
# Replace incorrect words in original strong with new ones and print the new string.
# Also try to do this in one line.
s='maine 200 banana khaye'
s=s.replace('banana','samosa')
s=s.replace('200','10')
print("Using two line replace:",s)

Using two line replace: maine 10 samosa khaye

# list

In [119]:
items=['aisha','barbie','hola','zendaya']

In [121]:
items[2]

'hola'

In [123]:
items[0]='janala'

In [125]:
items

['janala', 'barbie', 'hola', 'zendaya']

In [127]:
items[-1]

'zendaya'

In [129]:
 ###last e add
items.append('rocksana')
items

['janala', 'barbie', 'hola', 'zendaya', 'rocksana']

In [131]:
###insert
items.insert(1,'handa')
items

['janala', 'handa', 'barbie', 'hola', 'zendaya', 'rocksana']

In [135]:
j1=['soda','lemon','grass']
j2=['acuator','concort']
j=j1+j2
j

['soda', 'lemon', 'grass', 'acuator', 'concort']

In [137]:
len(j)

5

In [141]:
## lookup in the list
'soda' in items

False

In [143]:
'handa' in items

True

In [145]:
exp = [2200,2350,2600,2130,2190]
exp[3]=1980
exp

[2200, 2350, 2600, 1980, 2190]

In [176]:
heros=['spider man','thor','hulk','iron man','captain america']
heros.remove('thor')
heros

['spider man', 'hulk', 'iron man', 'captain america']

In [178]:
dir(heros)#list of all the functions available

['__add__',
 '__class__',
 '__class_getitem__',
 '__contains__',
 '__delattr__',
 '__delitem__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__getstate__',
 '__gt__',
 '__hash__',
 '__iadd__',
 '__imul__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__reversed__',
 '__rmul__',
 '__setattr__',
 '__setitem__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'append',
 'clear',
 'copy',
 'count',
 'extend',
 'index',
 'insert',
 'pop',
 'remove',
 'reverse',
 'sort']

In [155]:
heros.sort()##in alphabatecal order
heros

['captain america', 'hulk', 'iron man', 'spider man']

In [202]:
write=input('Enter the number/string:')

Enter the number/string: 12efg

In [206]:
write #basically it is a string

'12efg'

In [208]:
num=input()

 23

In [210]:
num

'23'

In [212]:
num=int(num)

In [214]:
num

23

In [216]:
if num%2==0:
    print('even')
else:
    print('odd')

odd

In [220]:
3>2 and 4<1

False

In [222]:
4!=7

True

**if else**

In [233]:
indian=['ju','nu','da']
chinese=['nh','sh']
italian=['ty']
dish=input()
if dish in indian:
    print('indian',dish)
elif dish in chinese:
     print('chinese',dish)
elif dish in italian:
     print('italian',dish)
else:
    print('not in list',dish)

 wdw

not in list wdw

 # for loop

In [10]:
exp=[2300,3455,3222,2900,4566]
total=0
for i in exp:
    total=total+i
print(total)

16443

In [29]:
for j in range(1,11): #start and stop er aghe
  print(j)

1
2
3
4
5
6
7
8
9
10

In [41]:
exp=[2300,3455,3222,2900,4566]
total=0
for i in range(len(exp)):
    print('Month:',i+1,'Expense:',exp[i])
    total=total+exp[i]
    
print('Total expense is:',total)

Month: 1 Expense: 2300
Month: 2 Expense: 3455
Month: 3 Expense: 3222
Month: 4 Expense: 2900
Month: 5 Expense: 4566
Total expense is: 16443

In [45]:
key_location=input()
location=['living','door','chair','table','backless']
for i in location:
    if i==key_location:
        print('found in',i)
        break##use break when goal is achieve and you want to terminate
    else:
        print('Not found',i)

 chair

Not found living
Not found door
found in chair

In [47]:
## for skip operations use continue

In [9]:
## let's skip even nyumber
for i in range(1,6):
 if i%2==0:
    continue
 print(i)

1
3
5

In [17]:
## while loop takes only one condition
i=1
while i<=5:
    print(i)
    i=i+1

1
2
3
4
5

In [44]:
#After flipping a coin 10 times you got this result,
result = ["heads","tails","tails","heads","tails","heads","heads","tails","tails","tails"]
#Using for loop figure out how many times you got heads
j=0
for i in result:
    if i=='heads':
        j+=1
print(j)

4

In [12]:
#Your monthly expense list (from Jan to May) looks like this,

expense_list = [2340, 2500, 2100, 3100, 2980]
##Write a program that asks you to enter an expense amount and program should tell you in which month that expense occurred. If expense is not found then it should print that as well.

expense=input()
expense=int(expense)
for i in range(len(expense_list)):
     if expense_list[i]==expense:
        print(f'expense occur in {i+1} month')
       
        
     else:
      print('expense did not occur')

 2500

expense did not occur
expense occur in 2 month
expense did not occur
expense did not occur
expense did not occur

In [70]:
expense_list = [2340, 2500, 2100, 3100, 2980]
expense=input()
expense=int(expense)
month=-1
for i in range(len(expense_list)):
     if expense_list[i]==expense:
        month=i
        break

if month!=-1:
    print(f'expense: {expense} occur in {month+1} month')

else:
    print('Didnot occur')

 2100

expense: 2100 occur in 3 month

In [72]:
'''Lets say you are running a 5 km race. Write a program that,

Upon completing each 1 km asks you "are you tired?"
If you reply "yes" then it should break and print "you didn't finish the race"
If you reply "no" then it should continue and ask "are you tired" on every km
If you finish all 5 km then it should print a congratulations message'''

'Lets say you are running a 5 km race. Write a program that,\n\nUpon completing each 1 km asks you "are you tired?"\nIf you reply "yes" then it should break and print "you didn\'t finish the race"\nIf you reply "no" then it should continue and ask "are you tired" on every km\nIf you finish all 5 km then it should print congratulations message'

In [86]:
j=0
for i in range(1,6):
    print('are you tired?')
    ans=input()
    if ans=="yes":
        j=1
        break

if j==1:
    print("you didn't finish the race")

else:
 print('congratulations')

are you tired?

 no

are you tired?

 yes

you didn't finish the race

In [94]:
for i in range(5):
    print(f"You ran {i+1} miles") # i starts with zero hence adding 1
    tired = input("Are you tired? ")
    if tired == 'yes':
        break

if i == 4: # 4 because the index starts from 0
    print("Hurray! You are a rock star! You just finished 5 km race!")
else:
    print(f"You didn't finish 5 km race but hey congrats anyways! You still ran {5-(i+1)} miles")

You ran 1 miles

Are you tired?  no

You ran 2 miles

Are you tired?  no

You ran 3 miles

Are you tired?  yes

You didn't finish 5 km race but hey congrats anyways! You still ran 2 miles

In [96]:
'''Write a program that prints following shape

*
**
***
****
***** ''''

SyntaxError: unterminated string literal (detected at line 7) (1192970243.py, line 7)

In [129]:
for i in range(1,6):
    s=''
    for j in range(i):
        s+='*'
        print(s)

*
*
**
*
**
***
*
**
***
****
*
**
***
****
*****

In [184]:

for i in range(1,6):
    s = ''
    for j in range(i):
        s += '*'
    print(s)

*
**
***
****
*****

In [190]:
for i in range(1,6):
    s = ''
    for j in range(i):
        s += '*'
print(s)

*****

# Function

In [3]:
## use def

In [11]:
def cal_total(exp):
    total=0##local ariable
    for i in exp:
        total+=i
    return total
j1=[2100,2345,4567,5678,9897]
j2=[1212,4321,3445,6544]
j1_total=cal_total(j1)
j2_total=cal_total(j2)
print(j1_total,j2_total)
print(total)## as local variable not define outside the function

24587 15522

NameError: name 'total' is not defined

In [42]:
total=0
def sum(a,b=0):## default value for second argument when argument is not pass
    total=a+b##local variable
    print('inside total',total)
    return total

n=sum(5)
print('outside total',total)

inside total 5
outside total 0

In [ ]:
'''
Write a function called calculate_area that takes base and height as an input and returns and area of a triangle. Equation of an area of a triangle is,
area = (1/2)*base*height
Modify above function to take third parameter shape type. It can be either "triangle" or "rectangle". Based on shape type it will calculate area. Equation of rectangle's area is,
rectangle area=length*width
'''

In [6]:
def calculate_area(dimension1,dimension2,shape="triangle"):
   
    if shape=="triangle":
        area=1/2*(dimension1*dimension2) # Triangle area is : 1/2(Base*Height)
    elif shape=="rectangle":
        area=dimension1*dimension2 # Rectangle area is: Length*Width
    else:
        print("Error: Input shape is neither triangle nor rectangle.")
        area=None # If user didn't supply "triangle" or "rectangle" as shape then return None
    return area

length=20
width=30
rectangle_area=calculate_area(length,width,"rectangle")
print("Area of rectangle is:",rectangle_area)
base=10
height=5
triangle_area=calculate_area(base,height) # Here third argument is missing
print("Area of triangle with no shape supplied: ",triangle_area)

Area of rectangle is: 600
Area of triangle with no shape supplied:  25.0

In [21]:
#Write a function called print_pattern that takes integer number as an argument and prints following pattern 
def print_pattern(num):
    for i in range(num+1):
        s=''
        for j in range(i):
             s+='*'
        print(s)
        
num=int(input())
print_pattern(num)

 4

*
**
***
****

In [23]:
def print_pattern(num):
    for i in range(len(num)):
        s=''
        for j in range(i):
             s+='*'
        print(s)
        
num=int(input())
print_pattern(num)

 4

TypeError: object of type 'int' has no len()

In [25]:
##The error occurs because len() is used on an integer in your print_pattern function. 
#len() is meant for sequences (like strings, lists, etc.) and doesn't work on integers.

In [27]:
def print_pattern(num):
    for i in range(num):  # No need to use len()
        s = ''
        for j in range(i):
            s += '*'
        print(s)
        
num = int(input("Enter a number: "))
print_pattern(num)

Enter a number:  3

*
**